{{#partial "contenido"}}
<!-- Sección "Quiénes Somos" -->
<section class="text-center bg-quienes-somos">
    <div class="container py-5 text-white">
        <h2 class="h2 text-uppercase mt-4">Quiénes Somos</h2>
        <p class="mt-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dignissimos dolor voluptatem ab nostrum tempora quidem, veniam similique veritatis soluta tempore eum explicabo atque illo doloremque dolorem autem aspernatur dolores!</p>
    </div>
</section>


<!-- Sección "Colaboraciones" -->
<section class="text-center my-5">
    <div class="container">
        <h2 class="h2 text-uppercase">Colaboraciones</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, dignissimos nulla numquam esse asperiores animi assumenda reiciendis aperiam ratione iusto quas eaque iure molestias, quos corporis fuga nisi placeat adipisci?</p>

        <div class="row justify-content-center">

            <div class="col-lg-2 col-md-4 col-12 mb-4">
                <div>
                    <svg width="100" height="101" viewBox="0 0 150 151" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_72_192)">
                            <path d="M18.75 75.5C18.75 82.8869 20.2049 90.2014 23.0318 97.0259C25.8586 103.851 30.0019 110.051 35.2252 115.275C40.4485 120.498 46.6495 124.641 53.4741 127.468C60.2986 130.295 67.6131 131.75 75 131.75C82.3869 131.75 89.7014 130.295 96.5259 127.468C103.351 124.641 109.551 120.498 114.775 115.275C119.998 110.051 124.141 103.851 126.968 97.0259C129.795 90.2014 131.25 82.8869 131.25 75.5C131.25 68.1131 129.795 60.7986 126.968 53.9741C124.141 47.1495 119.998 40.9485 114.775 35.7252C109.551 30.5019 103.351 26.3586 96.5259 23.5318C89.7014 20.7049 82.3869 19.25 75 19.25C67.6131 19.25 60.2986 20.7049 53.4741 23.5318C46.6495 26.3586 40.4485 30.5019 35.2252 35.7252C30.0019 40.9485 25.8586 47.1495 23.0318 53.9741C20.2049 60.7986 18.75 68.1131 18.75 75.5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M92.5 56.75C91.3678 54.786 89.7228 53.1669 87.7411 52.066C85.7595 50.965 83.5157 50.4237 81.25 50.5H68.75C65.4348 50.5 62.2554 51.817 59.9112 54.1612C57.567 56.5054 56.25 59.6848 56.25 63C56.25 66.3152 57.567 69.4946 59.9112 71.8388C62.2554 74.183 65.4348 75.5 68.75 75.5H81.25C84.5652 75.5 87.7446 76.817 90.0888 79.1612C92.433 81.5054 93.75 84.6848 93.75 88C93.75 91.3152 92.433 94.4946 90.0888 96.8388C87.7446 99.183 84.5652 100.5 81.25 100.5H68.75C66.4843 100.576 64.2405 100.035 62.2589 98.934C60.2772 97.8331 58.6322 96.214 57.5 94.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M75 44.25V106.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_72_192">
                                <rect width="150" height="150" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <p>Donando Dinero</p>
            </div>
            <div class="col-lg-2 col-md-4 col-12 mb-4">
                <div>
                    <svg width="100" height="101" viewBox="0 0 150 151" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_74_490)">
                            <path d="M28.2438 125.55L131.25 125.5V103.625C127.935 103.625 124.755 102.308 122.411 99.9638C120.067 97.6196 118.75 94.4402 118.75 91.125C118.75 87.8098 120.067 84.6304 122.411 82.2862C124.755 79.942 127.935 78.625 131.25 78.625V56.75H26.7375" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M131.25 56.75L72.5937 25.55C56.8937 26.3 42.8563 34.425 33.05 46.9563C24.1563 58.3313 18.75 73.3375 18.75 89.7937C18.75 103.025 22.25 115.325 28.2438 125.55" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M93.75 81.75V81.8125" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M50 81.75V81.8125" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M68.75 100.5V100.563" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_74_490">
                                <rect width="150" height="150" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <p>Donando Viandas</p>
            </div>
            <div class="col-lg-2 col-md-4 col-12 mb-4">
                <div>
                    <svg width="100" height="101" viewBox="0 0 150 151" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_74_627)">
                            <path d="M31.25 106.75C31.25 110.065 32.567 113.245 34.9112 115.589C37.2554 117.933 40.4348 119.25 43.75 119.25C47.0652 119.25 50.2446 117.933 52.5888 115.589C54.933 113.245 56.25 110.065 56.25 106.75C56.25 103.435 54.933 100.255 52.5888 97.9112C50.2446 95.567 47.0652 94.25 43.75 94.25C40.4348 94.25 37.2554 95.567 34.9112 97.9112C32.567 100.255 31.25 103.435 31.25 106.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M93.75 106.75C93.75 110.065 95.067 113.245 97.4112 115.589C99.7554 117.933 102.935 119.25 106.25 119.25C109.565 119.25 112.745 117.933 115.089 115.589C117.433 113.245 118.75 110.065 118.75 106.75C118.75 103.435 117.433 100.255 115.089 97.9112C112.745 95.567 109.565 94.25 106.25 94.25C102.935 94.25 99.7554 95.567 97.4112 97.9112C95.067 100.255 93.75 103.435 93.75 106.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.25 106.75H18.75V38C18.75 36.3424 19.4085 34.7527 20.5806 33.5806C21.7527 32.4085 23.3424 31.75 25 31.75H81.25V106.75M56.25 106.75H93.75M118.75 106.75H131.25V69.25M131.25 69.25H81.25M131.25 69.25L112.5 38H81.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_74_627">
                                <rect width="150" height="150" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <p>Repartiendo Viandas</p>
            </div>

            <div class="col-lg-2 col-md-6 col-12 mb-4">
                <div>
                    <svg width="100" height="101" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_19_26)">
                            <path d="M21.125 21.1667C21.125 18.9566 21.9942 16.837 23.5414 15.2742C25.0885 13.7113 27.187 12.8334 29.375 12.8334H70.625C72.813 12.8334 74.9115 13.7113 76.4586 15.2742C78.0058 16.837 78.875 18.9566 78.875 21.1667V79.5C78.875 81.7102 78.0058 83.8298 76.4586 85.3926C74.9115 86.9554 72.813 87.8334 70.625 87.8334H29.375C27.187 87.8334 25.0885 86.9554 23.5414 85.3926C21.9942 83.8298 21.125 81.7102 21.125 79.5V21.1667Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.125 42.0001H78.875" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M37.625 54.5001V67.0001" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M37.625 25.3334V29.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_19_26">
                                <rect width="99" height="100" fill="white" transform="translate(0.5 0.333374)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <p>Donando Heladeras</p>
            </div>


            <div class="col-lg-2 col-md-6 col-12 mb-4">
                <div>
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_255_20)">
                            <path d="M81.383 18.076C81.259 18.024 81.129 18.009 81 18.009V18H68H56H44C43.734 18 43.48 18.105 43.293 18.293L31.294 30.292C31.113 30.473 31 30.723 31 31V56C31 56.553 31.447 57 32 57H69C69.277 57 69.527 56.887 69.708 56.706L81.707 44.707C81.895 44.52 82 44.266 82 44V19C82 18.596 81.757 18.23 81.383 18.076ZM68.586 30H58.414L68.414 20H78.586L68.586 30ZM65.586 20L55.293 30.293C55.105 30.48 55 30.734 55 31V40.132L53.555 39.168C53.219 38.943 52.782 38.943 52.446 39.168L50 40.798L47.555 39.168C47.387 39.056 47.193 39 47 39C46.807 39 46.613 39.056 46.445 39.168L45 40.132V31.414L56.414 20H65.586ZM44.414 20H53.586L43.586 30H34.414L44.414 20ZM68 55H33V32H43V42C43 42.369 43.203 42.708 43.528 42.882C43.852 43.056 44.248 43.036 44.554 42.832L47 41.202L49.445 42.832C49.781 43.057 50.218 43.057 50.554 42.832L53 41.202L55.445 42.832C55.612 42.943 55.806 43 56 43C56.162 43 56.324 42.961 56.472 42.882C56.797 42.708 57 42.369 57 42V32H68V55ZM80 43.586L70 53.586V31.414L80 21.414V43.586Z" fill="black"/>
                            <path d="M37 77C37.553 77 38 76.553 38 76H40.764L51.455 81.346C51.917 81.577 52.418 81.693 52.917 81.693C53.486 81.693 54.054 81.544 54.563 81.247L76.379 68.52C77.379 67.937 78 66.856 78 65.698C78 64.731 77.575 63.819 76.835 63.196C76.096 62.574 75.122 62.312 74.172 62.477L54.34 65.926L48.707 60.293C48.52 60.105 48.266 60 48 60H38C38 59.447 37.553 59 37 59H33H18V61H32V75H18V77H33H37ZM47.586 62L55.465 69.879C55.805 70.219 56 70.69 56 71.172C56 72.18 55.18 73 54.172 73C53.691 73 53.219 72.805 52.879 72.465L47.707 67.293L46.293 68.707L51.465 73.879C52.188 74.602 53.149 75 54.172 75C56.282 75 58 73.282 58 71.172C58 70.15 57.602 69.188 56.879 68.465L56.069 67.655L74.513 64.447C74.886 64.38 75.26 64.484 75.547 64.726C75.835 64.968 76 65.322 76 65.697C76 66.146 75.759 66.566 75.371 66.792L53.556 79.519C53.186 79.735 52.735 79.749 52.35 79.557L41.448 74.106C41.309 74.036 41.155 74 41 74H38V62H47.586ZM36 75H34V61H36V75Z" fill="black"/>
                            <path d="M27 27C27 27.553 27.447 28 28 28C28.553 28 29 27.553 29 27C29 25.346 30.346 24 32 24C32.553 24 33 23.553 33 23C33 22.447 32.553 22 32 22C30.346 22 29 20.654 29 19C29 18.447 28.553 18 28 18C27.447 18 27 18.447 27 19C27 20.654 25.654 22 24 22C23.447 22 23 22.447 23 23C23 23.553 23.447 24 24 24C25.654 24 27 25.346 27 27ZM28 21.997C28.285 22.377 28.623 22.715 29.003 23C28.623 23.285 28.285 23.623 28 24.003C27.715 23.623 27.377 23.285 26.997 23C27.377 22.715 27.715 22.377 28 21.997Z" fill="black"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_255_20">
                                <rect width="64" height="64" fill="white" transform="translate(18 18)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <p>Ofreciendo un Producto o Servicio</p>
            </div>
        </div>
        <a href="/colaborar" class="btn btn-custom">Quiero Ayudar</a>
    </div>
</section>

<!-- Sección "Registrar a una Persona Vulnerable" -->
<section class="text-center my-5">
    <div class="container">
        <h2 class="h2 text-uppercase">Registrar a una Persona Vulnerable</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

        <a href="/colaborar" class="btn btn-custom rounded-5">
            <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_95_184)">
                    <path d="M40 35C40 40.3043 42.1071 45.3914 45.8579 49.1421C49.6086 52.8929 54.6957 55 60 55C65.3043 55 70.3914 52.8929 74.1421 49.1421C77.8929 45.3914 80 40.3043 80 35C80 29.6957 77.8929 24.6086 74.1421 20.8579C70.3914 17.1071 65.3043 15 60 15C54.6957 15 49.6086 17.1071 45.8579 20.8579C42.1071 24.6086 40 29.6957 40 35Z" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M80 95H110" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M95 80V110" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M30 105V95C30 89.6957 32.1071 84.6086 35.8579 80.8579C39.6086 77.1071 44.6957 75 50 75H70" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                    <clipPath id="clip0_95_184">
                        <rect width="120" height="120" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </a>
    </div>
</section>

<!-- Sección "Nuestras Heladeras" -->
<section class="text-center my-5">
    <div class="container">
        <h2 class="h2 text-uppercase">Nuestras Heladeras</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div id="map" class="rounded-5"></div>
            </div>
        </div>

        <a href="/colaborarPersonaJuridica" class="btn btn-custom mt-3">Donar Heladera</a>
    </div>
</section>

{{/partial}}
{{#partial "scripts"}}
    <script src="/js/mapa.js"></script>
    <script>
    {{# each heladeras }}
        {{# if this.estaActiva}}
            agregarMarcador("{{this.nombre}}", {{this.ubicadaEn.puntoGeografico.latitud}}, {{this.ubicadaEn.puntoGeografico.longitud}}, "{{this.ubicadaEn.direccion.calle}} {{this.ubicadaEn.direccion.altura}}");
        {{/if}}
        {{#unless this.estaActiva}}
            agregarMarcadorDesactiva("{{this.nombre}}", {{this.ubicadaEn.puntoGeografico.latitud}}, {{this.ubicadaEn.puntoGeografico.longitud}}, "{{this.ubicadaEn.direccion.calle}} {{this.ubicadaEn.direccion.altura}}");
        {{/unless}}
    {{/each}}
    </script>
{{/partial}}
{{> templates/index }}
