{{#partial "contenido"}}
    <section class="container text-center">
        <h2 class="my-4 ">COLABORAR</h2>
        <p class="w-75 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptas veniam eum error voluptatibus nihil iure iusto fugit, adipisci quasi explicabo praesentium, eligendi officia? Nesciunt vero ex fuga distinctio explicabo.</p>
    </section>

    <section class="container my-5 w-50">

        <div class="container mt-4">
            <div class="row d-flex align-items-center">
                <!-- Columna para el SVG -->
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <svg width="150" height="150" viewBox="0 0 150 151" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_72_192)">
                            <path d="M18.75 75.5C18.75 82.8869 20.2049 90.2014 23.0318 97.0259C25.8586 103.851 30.0019 110.051 35.2252 115.275C40.4485 120.498 46.6495 124.641 53.4741 127.468C60.2986 130.295 67.6131 131.75 75 131.75C82.3869 131.75 89.7014 130.295 96.5259 127.468C103.351 124.641 109.551 120.498 114.775 115.275C119.998 110.051 124.141 103.851 126.968 97.0259C129.795 90.2014 131.25 82.8869 131.25 75.5C131.25 68.1131 129.795 60.7986 126.968 53.9741C124.141 47.1495 119.998 40.9485 114.775 35.7252C109.551 30.5019 103.351 26.3586 96.5259 23.5318C89.7014 20.7049 82.3869 19.25 75 19.25C67.6131 19.25 60.2986 20.7049 53.4741 23.5318C46.6495 26.3586 40.4485 30.5019 35.2252 35.7252C30.0019 40.9485 25.8586 47.1495 23.0318 53.9741C20.2049 60.7986 18.75 68.1131 18.75 75.5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M92.5 56.75C91.3678 54.786 89.7228 53.1669 87.7411 52.066C85.7595 50.965 83.5157 50.4237 81.25 50.5H68.75C65.4348 50.5 62.2554 51.817 59.9112 54.1612C57.567 56.5054 56.25 59.6848 56.25 63C56.25 66.3152 57.567 69.4946 59.9112 71.8388C62.2554 74.183 65.4348 75.5 68.75 75.5H81.25C84.5652 75.5 87.7446 76.817 90.0888 79.1612C92.433 81.5054 93.75 84.6848 93.75 88C93.75 91.3152 92.433 94.4946 90.0888 96.8388C87.7446 99.183 84.5652 100.5 81.25 100.5H68.75C66.4843 100.576 64.2405 100.035 62.2589 98.934C60.2772 97.8331 58.6322 96.214 57.5 94.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M75 44.25V106.75" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_72_192">
                                <rect width="150" height="150" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>

                <div class="col-md-6 text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-custom w-75" data-bs-toggle="modal" data-bs-target="#dineroModal">
                        Donar Dinero
                    </button>

                    <!-- Modal DONACION DINERO-->
                    <div class="modal fade custom-fade" id="dineroModal" tabindex="-1" aria-labelledby="dineroModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Donacion de dinero</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <form method="POST" action="/colaborar/donacionDeDinero">
                                        <div class="mb-3">
                                            <label for="inputCantidad" class="form-label">Cantidad</label>
                                            <input name="valor" class="form-control" id="inputCantidad" placeholder="Cantidad a donar">
                                        </div>
                                        <div class="mb-3">
                                            <label for="inputPeriodica" class="form-label">Donacion Periodica</label>
                                            <select name="frecuencia" id="inputPeriodica" class="form-select">
                                                <option selected>Seleccionar...</option>
                                                {{#each frecuencia}}
                                                    <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if tieneTarjetaAutorizada}}
        <div class="container mt-4">
            <div class="row d-flex align-items-center">
                <!-- Columna para el SVG -->
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <svg width="150" height="151" viewBox="0 0 150 151" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_74_490)">
                            <path d="M28.2438 125.55L131.25 125.5V103.625C127.935 103.625 124.755 102.308 122.411 99.9638C120.067 97.6196 118.75 94.4402 118.75 91.125C118.75 87.8098 120.067 84.6304 122.411 82.2862C124.755 79.942 127.935 78.625 131.25 78.625V56.75H26.7375" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M131.25 56.75L72.5937 25.55C56.8937 26.3 42.8563 34.425 33.05 46.9563C24.1563 58.3313 18.75 73.3375 18.75 89.7937C18.75 103.025 22.25 115.325 28.2438 125.55" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M93.75 81.75V81.8125" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M50 81.75V81.8125" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M68.75 100.5V100.563" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_74_490">
                                <rect width="150" height="150" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>


                </div>

                <div class="col-md-6 text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-custom w-75" data-bs-toggle="modal" data-bs-target="#viandaModal">
                        Donar Vianda
                    </button>

                    <!-- Modal -->
                    <div class="modal fade custom-fade" id="viandaModal" tabindex="-1" aria-labelledby="viandaModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="viandaModalLabel">Donacion de vianda</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <form method="POST" action="/colaborar/donacionDeVianda">
                                        <div class="mb-3">
                                            <label for="inputComida" class="form-label">Comida</label>
                                            <input name="comida" type="text" class="form-control" id="inputComida" placeholder="Nombre de la comida">
                                        </div>

                                        <div class="mb-3">
                                            <label for="inputVencimiento" class="form-label">Vencimiento</label>
                                            <input name="fechaVencimiento" type="date" class="form-control" id="inputVencimiento">
                                        </div>

                                        <div class="mb-3">
                                            <label for="inputHeladera" class="form-label">Heladera</label>
                                            <select name="heladeraId" class="form-select" id="inputHeladera">
                                                {{#each heladeras}}
                                                    <option value="{{this.id}}">{{this.nombre}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <label for="inputCalorias" class="form-label">Calorías</label>
                                                <input name="calorias" type="number" class="form-control" id="inputCalorias" placeholder="Calorías">
                                            </div>
                                            <div class="col">
                                                <label for="inputPeso" class="form-label">Peso</label>
                                                <input name="peso" type="number" class="form-control" id="inputPeso" placeholder="Peso en kg">
                                            </div>
                                            <div class="col">
                                                <label for="inputCantidad" class="form-label">Cantidad</label>
                                                <input name="cantidad" type="number" class="form-control" id="inputCantidad" placeholder="Cantidad de esta vianda">
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between mt-4">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container mt-4">
            <div class="row d-flex align-items-center">
                <!-- Columna para el SVG -->
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <svg width="150" height="151" viewBox="0 0 150 151" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_74_627)">
                            <path d="M31.25 106.75C31.25 110.065 32.567 113.245 34.9112 115.589C37.2554 117.933 40.4348 119.25 43.75 119.25C47.0652 119.25 50.2446 117.933 52.5888 115.589C54.933 113.245 56.25 110.065 56.25 106.75C56.25 103.435 54.933 100.255 52.5888 97.9112C50.2446 95.567 47.0652 94.25 43.75 94.25C40.4348 94.25 37.2554 95.567 34.9112 97.9112C32.567 100.255 31.25 103.435 31.25 106.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M93.75 106.75C93.75 110.065 95.067 113.245 97.4112 115.589C99.7554 117.933 102.935 119.25 106.25 119.25C109.565 119.25 112.745 117.933 115.089 115.589C117.433 113.245 118.75 110.065 118.75 106.75C118.75 103.435 117.433 100.255 115.089 97.9112C112.745 95.567 109.565 94.25 106.25 94.25C102.935 94.25 99.7554 95.567 97.4112 97.9112C95.067 100.255 93.75 103.435 93.75 106.75Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.25 106.75H18.75V38C18.75 36.3424 19.4085 34.7527 20.5806 33.5806C21.7527 32.4085 23.3424 31.75 25 31.75H81.25V106.75M56.25 106.75H93.75M118.75 106.75H131.25V69.25M131.25 69.25H81.25M131.25 69.25L112.5 38H81.25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_74_627">
                                <rect width="150" height="150" fill="white" transform="translate(0 0.5)"/>
                            </clipPath>
                        </defs>
                    </svg>

                </div>

                <div class="col-md-6 text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-custom w-75" data-bs-toggle="modal" data-bs-target="#distribuirModal">
                        Distribuir Vianda
                    </button>

                    <!-- Modal -->
                    <div class="modal fade custom-fade" id="distribuirModal" tabindex="-1" aria-labelledby="distribuirModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="distribuirModalLabel">Distribucion de Vianda</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <form method ="POST" action="/colaborar/distribucionDeVianda">
                                        <div class="mb-3">
                                            <label for="inputHeladeraOrigen" class="form-label">Heladera Origen</label>
                                            <select name="heladeraOrigenId" class="form-select" id="inputHeladeraOrigen">
                                                {{#each heladeras}}
                                                    <option value="{{this.id}}">{{this.nombre}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="inputHeladeraDestino" class="form-label">Heladera Destino</label>
                                            <select name="heladeraDestinoId" class="form-select" id="inputHeladeraDestino">
                                                {{#each heladeras}}
                                                    <option value="{{this.id}}">{{this.nombre}}</option>
                                                {{/each}}
                                            </select>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <label for="inputFecha" class="form-label">Fecha</label>
                                                <input name="fecha" type="date" class="form-control" id="inputFecha">
                                            </div>
                                            <div class="col">
                                                <label for="inputCantidad" class="form-label">Cantidad</label>
                                                <input name="cantidadViandas" type="number" class="form-control" id="inputCantidad" placeholder="Cantidad">
                                            </div>
                                        </div>

                                        <div class="mb-3 mt-3">
                                            <label for="inputMotivo" class="form-label">Motivo de Distribución</label>
                                            <input name="motivo" type="text" class="form-control" id="inputMotivo" placeholder="Escriba el motivo de la distribucion">
                                        </div>

                                        <div class="d-flex justify-content-between mt-4">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="container mt-4">
            <div class="row d-flex align-items-center">
                <!-- Columna para el SVG -->
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="150" height="150" viewBox="0 0 24 24" stroke-width="0.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                        <path d="M16 19h6" />
                        <path d="M19 16v6" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                    </svg>

                </div>

                <div class="col-md-6 text-center">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-custom w-75" data-bs-toggle="modal" data-bs-target="#registrarModal">
                        Registrar Persona Vulnerable
                    </button>

                    <!-- Modal -->
                    <div class="modal fade custom-fade" id="registrarModal" tabindex="-1" aria-labelledby="registrarModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="registrarModalLabel">Registrar Persona Vulnerable</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <form method="POST" action="/colaborar/registroPersonaVulnerable" class="m-auto">
                                        <!-- Nombre -->
                                        <div class="mb-3">
                                            <label for="inputNombre" class="form-label">Nombre</label>
                                            <input name="nombre" type="text" class="form-control" id="inputNombre" placeholder="Jhon">
                                        </div>

                                        <!-- Apellido -->
                                        <div class="mb-3">
                                            <label for="inputApellido" class="form-label">Apellido</label>
                                            <input name="apellido" type="text" class="form-control" id="inputApellido" placeholder="Doe">
                                        </div>

                                        <div class="mb-3">
                                            <label for="inputCantACargo" class="form-label">Cantidad de menores a cargo</label>
                                            <input name="cantMenoresACargo" type="text" class="form-control" id="inputCantACargo" placeholder="5">
                                        </div>

                                        <!-- Fecha de Nacimiento y Situacion de Calle -->
                                        <div class="row g-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="inputFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                                <input name="fechaNacimiento" type="date" class="form-control" id="inputFechaNacimiento">
                                            </div>
                                            <div class="col-md-6 d-flex align-items-end justify-content-center">
                                                <div class="form-check">
                                                    <input name="estaEnSituacionDeCalle" class="form-check-input" type="checkbox" id="inlineFormCheck">
                                                    <label class="form-check-label ms-2" for="inlineFormCheck">Situación de Calle</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Dirección: Calle, Número, Localidad -->
                                        <div class="row g-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="inputCalle" class="form-label">Calle</label>
                                                <input name="direccion" type="text" class="form-control" id="inputCalle" placeholder="Calle Falsa">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="inputNumero" class="form-label">Número</label>
                                                <input name="numeroDireccion" type="text" class="form-control" id="inputNumero" placeholder="123">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputLocalidad" class="form-label">Localidad</label>
                                                <input name="localidad" type="text" class="form-control" id="inputLocalidad" placeholder="CABA">
                                            </div>
                                        </div>

                                        <div class="row g-3 mb-3">
                                            <div class="col-md-6">
                                                <label for="inputContribucion" class="form-label">Tipo de Documento</label>
                                                <select name="tipoDocumento" id="inputContribucion" class="form-select">
                                                    <option selected value="DNI">DNI</option>
                                                    <option value="CUITCUIL">CUIT/CUIL</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="inputDoc" class="form-label">N° Documento</label>
                                                <input name="documento" type="text" class="form-control" id="inputDoc" placeholder="12345678">
                                            </div>

                                        </div>

                                        <!-- Botón de Enviar -->
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-custom">Registrar</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container w-50 mb-5">
        <div class="w-75 w-lg-50 mx-auto">
            <h3 class="h3 my-4 text-center">Mis Colaboraciones</h3>
            <ul class="list-group list-group-flush overflow-auto" style="max-height: 150px;">
                {{#each colaboraciones}}
                    <li class="list-group-item d-flex justify-content-between">
                        <span class="li_span">{{this.tipo.nombre}}</span>
                        <span class="li_span">{{formatDate this.fechaAlta}}</span>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="w-100 w-lg-50 text-center mx-auto">
            <p class="mt-3 mb-5 text-center">Puntos Acumulados:<span class="">{{puntos}}</span></p>
            <a href="/ofertas" class="btn btn-custom">Canjear mis Puntos</a>
        </div>
    </section>

{{/partial}}
{{> templates/index }}
