{{#partial "contenido"}}
    <div class="container my-5">
        <h2 class="text-center mb-4">Mis Ofertas</h2>

        <div class="w-100 w-lg-50 text-center mx-auto">
            <p class="mt-3 mb-5 text-center fs-4">Puntos Disponibles: <span id="puntosAcumulados" class="fw-bold">{{puntosColaborador}}</span></p>
        </div>

        <!-- Ofertas Disponibles -->
        <h3 class="text-center mt-5">Ofertas Disponibles</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {{#each ofertas}}
                {{#unless this.oferta.sinStock}} <!-- Mostrar solo ofertas con stock disponible -->
                    <div class="card h-100">
                        <img src="/uploads/ofertas/{{this.oferta.imagen}}" class="card-img-top" alt="{{this.oferta.nombre}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.oferta.nombre}}</h5>
                            <p class="card-text">{{this.oferta.rubro}}</p>
                            <p class="card-text"><strong>{{this.oferta.puntosNecesarios}} Puntos</strong></p>
                            <p class="card-text">Stock disponible: {{this.oferta.stock}}</p>
                            <p class="card-text">Canjeado: {{this.oferta.canjeado}} veces</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarOfertaModal-{{this.id}}">Editar</button>
                            <form  method="POST" action="/ofertas/{{this.id}}/eliminar">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                    <!-- Modal Editar Oferta -->
                    <div class="modal fade custom-fade" id="editarOfertaModal-{{this.id}}" tabindex="-1" aria-labelledby="editarOfertaModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editarOfertaModalLabel">Editar Oferta: {{this.oferta.nombre}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="editarOfertaForm-{{this.id}}" method="POST" action="/ofertas/{{this.oferta.id}}/editar">
                                        <div class="mb-3">
                                            <label for="nombreOferta" class="form-label">Nombre de la Oferta</label>
                                            <input type="text" name="nombre" class="form-control" id="nombreOferta" value="{{this.oferta.nombre}}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="rubroOferta" class="form-label">Rubro</label>
                                            <input type="text" name="rubro" class="form-control" id="rubroOferta" value="{{this.oferta.rubro}}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="puntosNecesarios" class="form-label">Puntos Necesarios</label>
                                            <input type="number" name="puntosNecesarios" class="form-control" id="puntosNecesarios" value="{{this.oferta.puntosNecesarios}}" min="0" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="stockOferta" class="form-label">Stock</label>
                                            <input type="number" name="stock" class="form-control" id="stockOferta" value="{{this.oferta.stock}}" min="0" required>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}
        </div>

        <!-- Ofertas Canjeadas -->
        <h3 class="text-center mt-5">Ofertas Canjeadas</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {{#each ofertas}}
                {{#if this.oferta.sinStock}} <!-- Mostrar solo ofertas sin stock disponible -->
                    <div class="card h-100">
                        <img src="/uploads/ofertas/{{this.oferta.imagen}}" class="card-img-top" alt="{{this.oferta.nombre}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.oferta.nombre}}</h5>
                            <p class="card-text">{{this.oferta.rubro}}</p>
                            <p class="card-text"><strong>{{this.oferta.puntosNecesarios}} Puntos</strong></p>
                            <p class="card-text text-muted">Sin Stock</p>
                            <p class="card-text">Canjeado: {{this.oferta.canjeado}} veces</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarStockModal-{{this.id}}">Agregar Stock</button>
                            <form  method="POST" action="/ofertas/{{this.id}}/eliminar">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                    <!-- Modal Agregar Stock -->
                    <div class="modal fade custom-fade" id="agregarStockModal-{{this.id}}" tabindex="-1" aria-labelledby="agregarStockModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="agregarStockModalLabel">Agregar Stock a {{this.oferta.nombre}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="agregarStockForm-{{this.id}}" method="POST" action="/ofertas/{{this.oferta.id}}/agregar-stock">
                                        <div class="mb-3">
                                            <label for="inputCantidadStock" class="form-label">Cantidad de Stock a Agregar</label>
                                            <input type="number" name="stock" class="form-control" id="inputCantidadStock" placeholder="Cantidad a agregar" min="1" required>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-success">Confirmar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
{{/partial}}

{{> templates/index}}
